body {
  background-color: black;
  color: white;  
  background-size: cover;

}
h1 {
  text-align: center;
  border-width: 5px;
  border-radius: 5px;
  border: solid white;
  border-style: double;
  font-size: 50px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}
.box p{
  text-align: center;
  font-size: 25px;
}
#mainForm label {
  float: right;
}
.form-control {
  width: 20%;
}

#display {
  display: none;
  font-size: xx-large;
  border-width: 5px;
  border-radius: 20px;
  border: solid white;
  border-style: double;
  padding: 10px;
  margin: 20px;
}

#robot {
  /* position: absolute; */
  border: solid white;
  border-width: 10px;
  /* padding: 20px; */
  border-style: double;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: auto;
  width:60%;
}
 .btns {   
   text-align: center;
   margin: 20px;
   width: auto;
   margin-top: 20px;
   
 }


.btn {
  /* text-align: center; */
  /* margin: auto; */
  width: 15%;
  background-color: chartreuse;
}
#tryAgain {
  display: none;
}